.footer {
    padding: 4rem 2rem;
    text-align: center;
    border-top: 1px solid #333;
    margin-top: 4rem;
}

.footer h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.email-link {
    color: var(--accent-color);
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 700;
}

.footer-copyright {
    margin-top: 3rem;
    color: var(--text-secondary);
    font-size: 0.8rem;
}